# .gitignore
# Node
node_modules/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.env
.env.*
venv/
.envrc
.mypy_cache/
.pytest_cache/
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Django
/static/
/media/
*.log
local_settings.py
settings_local.py

# VSCode
.vscode/

# System
.DS_Store
Thumbs.db

# Docker
*.pid
docker-compose.override.yml

# PRD
PRD.md
